<a href="#" role="button" id="dropdownMenu"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    <div class="position-relative">
        <svg class="icon-menu ">
            <use xlink:href="{{ asset('front/dist/img/icons.svg#icon-notificacion') }}"></use>
        </svg>
        <span class="noti-counter plus" id="sonar" style="display: none;"></span>
    </div>
    <span>Notificaciones</span>
</a>
    <div id="dropNoti" class="dropdown-menu" aria-labelledby="dropdownMenu">

        
        
    </div>