/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/app/config/config.yml
!/docs/prototipos/front/styles/.sass-cache
/docs/prototipos/front/styles/.sass-cache/*
!/docs/prototipos/front/styles/sass/.sass-cache
/docs/prototipos/front/styles/sass/.sass-cache/*
!web/error_log
web/error_log
!/docs/prototipos/src/sass/.sass-cache
/docs/prototipos/src/sass/.sass-cache/*
!/web/front/.sass-cache/
/web/front/.sass-cache/*
!/web/.sass-cache/
/web/.sass-cache/*
/node_modules/*
.phpintel
docs/.DS_Store
.DS_Store
docs/prototipos/node_modules
