th {
    color: $azul-primary;
}

td{
    color:#8E8C8F;
}

.table td, .table th  {
    padding: 1.25rem 0.75rem;
}


.pagination li:selected{
    outline: none;
    border:none;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 7px;
    line-height: 1.25;
    color: #fff;
    background-color: #D9D7DB ;
    border: 1px solid #dee2e6;
    border-radius: 12px;
}

.page-link.active {
    background-color: $green ;
}

.page-link:focus {
    box-shadow: none;
}